body {
  background: #929292;
  font-family: "Noto Sans";
  margin: auto;
  width: 1280px;
}
.monospace {
  font-family: "Inconsolata XL", monospace;
}

section {
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 140px;
}

p {
  font-size: 75px;
  margin: 30px 0;
}
p.nomargin {
  margin: 0;
}
.smaller { font-size: 60px; }
.smallest { font-size: 40px; }
.bigger { font-size: 100px; }
.biggest { font-size: 120px; }

a {
  color: #069;
}

a:not(:hover) {
  text-decoration: none;
}
code, pre { font-family: "Inconsolata XL", monospace; }

ul {
  text-align: left;
  padding: 0 100px;
  margin: 0 auto;
}

.stack {
  background: #fff url("../img/bg.png");
  color: #444;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  display: none;
  font-size: 48px;
  height: 800px;
  padding: 180px 80px;
  width: 1280px;
  -webkit-transform: translate3d(0,0,0);
}

.active {
  box-shadow: 0px 4px 8px rgba(0,0,0,.5);
  display: block;
  position: fixed;
}

#map {
  position: relative;
  top: 0;
  bottom: 0;
  height: 800px;
  width: 100%;
}
#navigation {
  position: absolute;
  z-index: 99999;
  top: 20px;
  right: 20px;
  text-align: right;
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
  font-size: 25px;
}
#navigation ul { padding: 0; }
#navigation a {
  display: block;
  color: #444;
}
.map-slide {
  padding: 0;
  margin: 0;
}
.stats-sheet {
  position: absolute;
  top: 0;
  left: 250px;
  bottom: 0;
}
.top-tags {
  font-family: "Inconsolata XL", monospace;
  font-size: 34px;
}
.top-tags table {
  width: 450px;
}
.top-tags td {
  text-align: left;
}

.subtitle { font-size: 50px; }
.title { font-weight: bold; font-size: 120px;}
.name { color: #555; font-size: 35px; }
.spaced { letter-spacing: 10px; font-weight: bold; font-style: italic; }
.blue { color: #069; }
.green { color: #95c47b; }
.grey { color: #999; }
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.bold { font-weight: bold; }
.f-left { float: left; }
.f-right { float: right; }
.padding20 { padding: 20px 80px; }
.padding40 { padding: 40px 80px; }
.padding60 { padding: 60px 80px; }
.padding80 { padding: 80px 80px; }
.padding100 { padding: 100px 80px; }
.hidden { overflow: hidden; }
img.fullscreen {
  position: absolute;
  top:0; left:0;
}

.edits-by-day {
}

path, rect {
  fill: #069;
  border-left: 1px solid #068;
}

.y.axis {
  font-size: 10pt;
}

.x.axis {
  font-size: 11pt;
  margin-top: 4px;
}

.axis path.domain {
  display: none;
}

@media
screen and (max-device-width: 1024px) {
  body {
    width: 1200px;
  }

  .stack {
    margin: 40px 0;
  }

  .stack {
    display: block;
  }
}